@import url('http://fonts.googleapis.com/css?family=Open+Sans:400,700');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
	background-color: #efefef;
}

body{
	font:14px/1.5 Arial, Helvetica, sans-serif;
	margin:0;
}


header{
    
    width: 100%;
    padding: 25px 40px;
    background-image: url(/images/pizza.jpg);
    background-position: center;
    overflow: hidden;
}

#logo {
    float: left;
}


header h1{
    float: left;
	font: normal 24px/1.5 'Open Sans', sans-serif;
	color: #fff;
    font-weight: 700;
    text-align: center;
}

header a{
    color:#fff;
    float: right;
    text-decoration: none;
    display: inline-block;
    padding: 13px 50px;
    border-radius: 3px;
    font: bold 14px/1 'Open Sans', sans-serif;
    text-transform: uppercase;
    background-color:#F05283;

}

#spacer {
    background-color: #FFF;
    padding: 20px;
    margin-top: 0;
    margin-bottom: 25px;
}



@media (max-width: 1000px) {


    header h1{
        float: none;
    }

    header a{
        margin-top: 25px;
        float: none;
    }

}

.main-content{
    margin-bottom: 75px;
}

#divTotal {
    color: white;
    background-color: red;
    width: 100px;
    height: 102px;
    position: fixed;
    top: 220px;
    right: 0;
    padding: 10px 0 0 10px;
    
}
#total {
    color: white;
    padding-top: 4px;
}

/* -- Demo ads -- */

@media (max-width: 1200px) {
	#bsaHolder{ display:none;}
}

/* -- Link to Tutorialzine -- */

.tz-link{
	text-decoration: none;
	color: #fff !important;
	font: bold 36px Arial,Helvetica,sans-serif !important;
}

.tz-link span{
	color: #da431c;
}
